tora/config.h
Tora.output
Tora.tab.cc
Tora.tab.hh
lex.yy.cc
bin/tora
.sconsign.dblite
hoge.tra
nodes.gen.cc
nodes.gen.h
ops.gen.cc
gmon.out
*.gen.h
*.gen.cc
parser.cc
parser.h
parser.out
lemon
!tools/lemon
tests/*.t
libre2.a
*.os
src/config.h
callgrind.out.*
*.a
src/*/*.o-*
src/*.o-*
hoge.pl
hoge.cc
a.out
lib/Config.tra
hoge.*
hoge
